
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Local Environment Variables
# Exclude local environment variables from git.
# IMPORTANT: If you're using Vercel, Netlify, or another hosting provider,
# you'll need to set these variables in their respective dashboards.
.env.local
.env.*.local
.env

# Next.js
/.next/
/out/

# Production build
/build

# sitemap.xml and robots.txt are generally built dynamically or by the hosting provider
# sitemap.xml
# robots.txt

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional Prettier cache
.prettiercache

# Optional Next.js build outputs
.next.old/
dist/

# IDE / Editor specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db
